l1-response-mapper {
  .required {
      &:after {
      position: relative;
      display: inline-block;
      font-size: 16px;
      line-height: 1.25;
      color: #f46771;
      content: '*';
      }
  }
  .editor {
    height: 450px;
    border: solid 1px #ccc;
    margin-top: 10px;
  }
}
