BntSwitchAdminPortalBackend/gradle/*
BntSwitchAdminPortalBackend/gradlew
BntSwitchAdminPortalBackend/gradlew.bat
BntSwitchAdminPortalFrontend/node_modules/*
BntSwitchAdminPortalFrontend/package-lock.json
BntSwitchAdminPortalFrontend/dist


.gradle/*

BntSwitchAdminPortalBackend/build/*
BntSwitchAdminPortalBackend/src/main/webapp/app/*
/.metadata/
.gradle
.settings
bin
build
.project
.classpath

.idea
bnt-switch-portal-angular
publish
distribution
/distribution
/config


*.classpath
*.log
tmp
#app

generated
/BntSwitchAdminPortalFrontend/package-lock.json
/BntSwitchAdminPortalFrontend/node_modules
node_modules
/BntSwitchAdminPortalFrontend/.vscode
