.badge {
  width: 100%;
  margin-left: 20px;
}

.outerDiv {
  border: 1px solid #f4f6f9;
  margin-bottom: 10px;
  background-color: #f4f6f9;
  padding: 4px;
  padding-top: 0px;
}

.secondColumn {
  padding-top: 26px;
}

.tableStyle {
  border: 1px solid #ddd;
  background-color: white;
  // width: 60%;
}
.textwarp {
  max-width: 300px;
  overflow-wrap: break-word;
  overflow: hidden;
}

.tableMargin {
  margin-bottom: 25px;
  margin-top: 10px;
}