<div class="col-md-12 fade-in template" *ngIf="row">
    <a class="btn btn-flat row" (click)="allDetails()"
      ><i class="fa fa-arrow-circle-o-left fa-sm"></i> {{ 'BACK' | translate }}</a
    >
  
    <h4 class="row">
      <label class="row-tag">
        <i class="fa fa-university" aria-hidden="true"></i> {{ row.name }}
      </label>
    </h4>
    <div class="row">
      <div class="col-md-12">
        <div class="detail-sub-header">
          <i class="fa fa-info-circle fa-sm iconColor" aria-hidden="true"
            ><span class="icon-text font">{{ 'GENERAL_INFO' | translate }}</span></i
          >
        </div>
      </div>
      <div class="col-md-4">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>{{ 'ACTIVE_SINCE' | translate }}</th>
              <td>{{ row.activateOn | newDate }}</td>
            </tr>
            <tr>
              <th>{{ 'ACTIVE_TO' | translate }}</th>
              <td>{{ row.expiryOn | newDate }}</td>
            </tr>
            <tr>
              <th>{{ 'CODE' | translate }}</th>
              <td>{{ row.code }}</td>
            </tr>
            <tr>
              <th>{{ 'INSTITUTION_GROUPS' | translate }}</th>
              <td>
                <a class="cursor" (click)="institutionGroupDetails(row)">{{
                  row.institution.name
                }}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="col-md-4">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td colspan="2">
                <a
                  class="cursor linkMargin"
                  [ngClass]="{ isDisabled: row.totalDevice === 0 }"
                  routerLink="/institutions/devices/filter"
                  [queryParams]="{
                    merchantGroup: row.institution.id,
                    merchant: row.id
                  }"
                >
                  {{ row.totalDevice }} {{ 'DEVICES' | translate }}
                </a>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <a
                  class="cursor linkMargin"
                  [ngClass]="{ isDisabled: row.totalLocation === 0 }"
                  routerLink="/institutions/locations/filter"
                  [queryParams]="{
                    merchantGroup: row.institution.id,
                    merchant: row.id
                  }"
                >
                  {{ row.totalLocation }} {{ 'LOCATIONS' | translate }}
                </a>
              </td>
            </tr>
            <tr *ngIf="row?.description">
              <th>{{ 'DESCRIPTION' | translate }}</th>
              <td>{{ row.description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4" *ngIf="row.additionalAttribute">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>{{ 'ADDITIONAL_ATTRIBUTES' | translate }}</th>
  
              <td>
                <a class="cursor" (click)="openModal(row)">{{ 'VIEW_ATTRIBUTES' | translate }}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <nz-modal
      [(nzVisible)]="isAttributesVisible"
      [nzTitle]="attributesModalTitle"
      [nzContent]="attributesModalContent"
      [nzFooter]="attributesModalFooter"
      nzClosable="true"
      (nzOnCancel)="isAttributesVisible = false"
      [nzWidth]="650"
      [nzStyle]="{ top: '90px' }"
    >
      <ng-template #attributesModalTitle let-row="row">
        {{ 'ADDITIONAL_ATTRIBUTES' | translate }}
      </ng-template>
      <ng-template #attributesModalContent>
        <nz-table #schemaTable [nzData]="['']" nzBordered [nzFrontPagination]="false">
          <tbody>
            <tr *ngFor="let item of attributeData | keyvalue">
              <td>{{ item.key }}</td>
              <td>{{ item.value }}</td>
            </tr>
          </tbody>
        </nz-table>
      </ng-template>
      <ng-template #attributesModalFooter>
        <button nz-button nzType="default" (click)="closeModal()">
          {{ 'CLOSE' | translate }}
        </button>
      </ng-template>
    </nz-modal>
  
    <div class="row">
      <div class="col-md-4">
        <div class="detail-sub-header">
          <i class="fa fa-info-circle fa-sm iconColor" aria-hidden="true"
            ><span class="icon-text font">{{ 'MERCHANT_OPTIONS' | translate }}</span></i
          >
        </div>
        <table class="table table-striped">
          <tbody>
            <tr  *ngIf="row?.merchantProfile?.category">
              <th>{{ 'CATEGORY_CODE' | translate }}</th>
              <td>{{ row?.merchantProfile?.category }}</td>
            </tr>
            <tr>
              <th>{{ 'PARTIAL_AUTH' | translate }}</th>
              <td *ngIf="row?.merchantProfile?.partialAuth === 'Y'">
                {{ 'ENABLED' | translate }}
              </td>
              <td *ngIf="row?.merchantProfile?.partialAuth === 'N'">
                {{ 'DISABLED' | translate }}
              </td>
            </tr>
            <tr *ngIf="row?.merchantProfile?.services">
              <th>{{ 'SERVICES' | translate }}</th>
              <td class="alignService">{{ row?.merchantProfile?.services }}</td>
            </tr>
            <tr *ngIf="row?.reversalTimeout">
              <th>{{ 'REVERSAL_TIMEOUT' | translate }}</th>
              <td>{{ row?.reversalTimeout }}</td>
            </tr>
            <!-- <tr>
            <th>{{ "ADITIONAL_SERVICES" | translate }}</th>
            <td class="alignService">
              {{ row.merchantProfile.additional_services }}
            </td>
          </tr> -->
            <!-- <tr>
                      <th>{{ 'POSCOUNTRYAFD_AMOUNT' | translate }}</th>
                      <td> {{ row.markUpFee }} </td>
                  </tr> -->
            <!-- <tr>
                      <th>{{ 'POSCOUNTRYAFD_AMOUNT' | translate }}</th>
                      <td> {{ row.posCountryAFDAmount }} </td>
                  </tr> -->
            <!-- <tr>
                      <th>{{ 'MAX_TIME_LIMIT_CONFIG' | translate }}</th>
                      <td> {{ row.maxTimeLimitConfig }} </td>
                  </tr> -->
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <div class="detail-sub-header">
          <i class="fa fa-phone-square icon" style="color: #888888" aria-hidden="true"
            ><span class="icon-text font" style="color: #888888">{{
              'CONTACT_INFO' | translate
            }}</span></i
          >
        </div>
        <table class="table table-striped">
          <tbody>
            <tr *ngIf="row?.merchantDetail?.email">
              <th>{{ 'EMAIL' | translate }}</th>
              <td>
                <a href="mailto:{{ row?.merchantDetail?.email }}"> </a
                >{{ row?.merchantDetail?.email }}
              </td>
            </tr>
            <tr *ngIf="row?.merchantDetail?.phone">
              <th>{{ 'PHONE_NUMBER' | translate }}</th>
              <td>
                <a class="phone" href="tel: {{ row?.merchantDetail?.phone }}"></a>
                {{ row?.merchantDetail?.phone }}
              </td>
            </tr>
            <tr *ngIf="row?.merchantDetail?.fax">
              <th>{{ 'FAX' | translate }}</th>
              <td>{{ row?.merchantDetail?.fax }}</td>
            </tr>
            <tr *ngIf="row?.merchantDetail?.address">
              <th>{{ 'ADDRESS' | translate }}</th>
              <td>{{ row?.merchantDetail?.address1 }} {{ row?.merchantDetail?.address2 }}</td>
            </tr>
            <tr *ngIf="row?.merchantDetail?.city">
              <th>{{ 'CITY' | translate }}</th>
              <td>{{ row?.merchantDetail?.city }}</td>
            </tr>
            <tr *ngIf="row?.merchantDetail?.countryState?.stateName">
              <th>{{ 'STATE' | translate }}</th>
              <td>{{ row?.merchantDetail?.countryState?.stateName }}</td>
            </tr>
            <tr *ngIf="row?.merchantDetail?.zip">
              <th>{{ 'ZIP_CODE' | translate }}</th>
              <td>{{ row?.merchantDetail?.zip }}</td>
            </tr>
            <tr *ngIf="row?.merchantDetail?.country?.countryName">
              <th>{{ 'COUNTRY' | translate }}</th>
              <td>{{ row?.merchantDetail?.country?.countryName }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div class="col-md-4 ">
              <i class="fa fa-phone-square icon" aria-hidden="true"><span class="icon-text">{{ 'BANKING_INFO' | translate }}</span></i>
  
              <table class="table table-striped">
                  <tr>
                      <th>{{ 'BANK_NAME' | translate }}</th>
                      <td> {{ row.bankAccount.bankName }} </td>
                  </tr>
                  <tr>
                      <th>{{ 'BRANCH_ADDRESS' | translate }}</th>
                      <td> {{ row.bankAccount.branchAddress }} </td>
                  </tr>
                  <tr>
                      <th>{{ 'IFSC_CODE' | translate }}</th>
                      <td> {{ row.bankAccount.ifscCode }} </td>
                  </tr>
                  <tr>
                      <th>{{ 'ACCOUNT_NUMBER' | translate }}</th>
                      <td> {{ row.bankAccount.accountNumber }} </td>
                  </tr>
  
              </table>
  
          </div> -->
    </div>
  </div>
  