<div class="row">
  <div class="col-md-12">
    <form nz-form [formGroup]="submitForm" (ngSubmit)="onSubmit(submitForm.value)">
      <div class="row">
        <div class="col-md-3">
          <nz-form-item>
            <label class="required">Read From :</label>
            <nz-form-control nzErrorTip="Please Select Date">
              <nz-date-picker formControlName="readFrom" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" 
              [nzDisabledDate]="disabledDate"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-3">
          <nz-form-item>
            <label class="required">Batch Mode :</label>
            <nz-form-control nzErrorTip="Please Select Batch Mode">
              <nz-select nzPlaceHolder="Select Type" formControlName="batchMode">
                <nz-option *ngFor="let list of mode" [nzValue]="list.name" [nzLabel]="list.name"> </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-3">
          <nz-form-item>
            <label class="required">Read Index :</label>
            <nz-form-control nzErrorTip="Please Enter Read Index">
              <nz-input-group [nzSuffix]="suffixTemplateInfo">
                <input type="number" numbersOnly nz-input placeholder="Enter Read Index" formControlName="readIndex" />
              </nz-input-group>
              <ng-template #suffixTemplateInfo>
                <i nz-icon nz-tooltip nzTooltipTitle="Only numbers are allowed" nzType="info-circle"></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-3">
          <a *ngIf="!f?.filterCondition?.value && f?.imfId.value" class="btn-link button-effect required"
            (click)="openCondition()" role="button">Add
            Condition</a>
          <a *ngIf="f?.filterCondition?.value && f?.imfId.value" class="btn-link button-effect"
            (click)="openCondition()">Edit
            Condition</a>
          <a *ngIf="f?.filterCondition?.value" class="text-danger" nz-popconfirm nzPopconfirmTitle="Do you want to delete Condition?" 
          (nzOnConfirm)="deleteCondition()"><i
              class="fa fa-trash fa-lg"></i></a>
          <input type="hidden" formControlName="filterCondition">
          <nz-divider nzType="vertical"></nz-divider>
          <a class="btn-link button-effect required" *ngIf="!f?.packager?.value" (click)="createSchemaJson()"
            role="button">Add
            Schema</a>
          <a class="btn-link button-effect" *ngIf="f?.packager?.value" (click)="createSchemaJson()" role="button">Edit
            Schema</a>
          <!-- <a *ngIf="f?.packager?.value" class="text-danger" (click)="deleteSchema()"><i
              class="fa fa-trash fa-lg"></i></a> -->
          <input type="hidden" formControlName="packager">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <nz-form-item>
            <label class="required">Batch Size :</label>
            <nz-form-control nzErrorTip="Please Enter Batch Size">
              <nz-input-group [nzSuffix]="suffixTemplateInfo">
                <input type="number" numbersOnly nz-input placeholder="Enter Batch Size" formControlName="batchSize" />
              </nz-input-group>
              <ng-template #suffixTemplateInfo>
                <i nz-icon nz-tooltip nzTooltipTitle="Only numbers are allowed" nzType="info-circle"></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-3">
          <nz-form-item>
            <label class="required">Reader :</label>
            <nz-form-control nzErrorTip="Please Select Reader">
              <nz-select nzPlaceHolder="Select Type" formControlName="type">
                <nz-option *ngFor="let list of reader" [nzValue]="list.name" [nzLabel]="list.name"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-3">
          <nz-form-item>
            <label class="required">Class :</label>
            <nz-form-control nzErrorTip="Please Enter Class Name">
              <input nz-input placeholder="Enter Class Name" formControlName="class" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-3">
          <nz-form-item>
            <label class="required">Cron Exp :</label>
            <nz-form-control nzErrorTip="Please Enter Cron Exp">
              <input nz-input placeholder="Enter Cron Exp * * * * *" formControlName="cronExp" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <nz-form-item>
            <label class="required">Repeat Time :</label>
            <nz-form-control nzErrorTip="Please Enter Repeat Time">
              <nz-input-group [nzSuffix]="suffixTemplateInfo">
                <input type="number" numbersOnly nz-input placeholder="Enter Repeat Time" formControlName="repeatTime" />
              </nz-input-group>
              <ng-template #suffixTemplateInfo>
                <i nz-icon nz-tooltip nzTooltipTitle="Only numbers are allowed" nzType="info-circle"></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-3">
          <nz-form-item>
            <label class="required" tooltip="{{ 'ADAPTER_LABEL.IMF_VERSION' | translate }}" placement="left"
              delay="500">
              {{ 'IMF_VERSION' | translate }}:
            </label>
            <nz-form-control>
              <nz-select nzPlaceHolder="Select imfId" formControlName="imfId" (ngModelChange)="getImfVersion($event)" [nzDisabled]="disable">
                <nz-option *ngFor="let list of getIfmList" [nzValue]="list.version" [nzLabel]="list.version">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-3">
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary" [disabled]="!submitForm.valid">Next</button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="isVisible">
  <nz-drawer [nzMaskClosable]="false" [nzVisible]="isVisible" nzTitle="Condition" [nzWidth]="1040" [nzClosable]="true" (nzOnClose)="close()">
    <ng-container *nzDrawerContent>
      <app-condition-builder *ngIf="jsonData" [jsonData]="jsonData" [ruleCondition]="f?.filterCondition?.value"
        (addSubRule)="getRule($event)" (closeCreate)="close($event)">
      </app-condition-builder>
    </ng-container>
  </nz-drawer>
</div>