.scroll {
    height: 350px;;
    width:91%;
    overflow:hidden;
    overflow-y:scroll;
    border: 1px solid #d7d5d5;
    margin-top: 5px;
  }
  
  .center-button
  {
    float: left;
    width: 45%;
    padding: 3% 2px 1px 0%;
    margin-right: 2px;
    margin: 42% 10px -36% 9px;
  }
  
  li.selected {
    background-color: #ccc ;
  }
  
  .export-button
  {
    margin-left: 15px;
    margin-top: 15px;
  }
.leftHead{
  margin-left: 15px;
  padding-left: 0px;
}
