.marginright {
  margin-right: 5px;
}

.marginleft {
  margin-left: 15px;
}

.bold {
  font-weight: bold;
}

.btnEdit {
  margin-right: 18px;
  margin-left: 14px;
}

.device-header-padding {
  padding-bottom: 0px;
}
