<div class="portal-search">
  <div class="form-inline">
    <input
      class="toto form-control input-search"
      type="text"
      placeholder="{{ 'DEVICE_SEARCH' | translate }}"
      (keyup.enter)="getFilterNameData($event)"
      [(ngModel)]="place"
    />
    <button
      type="submit"
      [disabled]="searchResetButton"
      class="btn btn-primary btn-md btn-flat top-icon"
      (click)="resetSearch()"
    >
      {{ 'RESET' | translate }}
    </button>
  </div>
</div>
<div class="col-md-12 fade-in template">
  <div class="row row-margin">
    <div class="row col-md-2 dropDownmargin">
      <ng-select
        class="filter-shadow"
        bindValue="id"
        bindLabel="name"
        [closeOnSelect]="true"
        [items]="groupList"
        [(ngModel)]="filter.merchantGroup"
        placeholder="{{ 'ALL_INSTITUTION_GROUP' | translate }}"
        (change)="getFilterInstitutionGroup($event)"
      ></ng-select>
    </div>
    <div class="row col-md-2 dropDownmargin">
      <ng-select
        class="filter-shadow"
        bindValue="id"
        bindLabel="name"
        [closeOnSelect]="true"
        [items]="statusList"
        [(ngModel)]="filter.status"
        (change)="getFilterStatus($event)"
        placeholder="{{ 'ALL_STATUS' | translate }}"
      ></ng-select>
    </div>
    <div class="row col-md-2 dropDownmargin">
      <ng-select
        class="filter-shadow"
        bindValue="name"
        bindLabel="name"
        [closeOnSelect]="true"
        [items]="addressList"
        [(ngModel)]="filter.address"
        placeholder="{{ 'ALL_ADDRESS' | translate }}"
        (change)="getFilterAddress($event)"
      >
      </ng-select>
    </div>

    <a
      role="button"
      *ngIf="resetButtonFlag"
      class="btn-link button-effect"
      (click)="resetFilterSearch()"
    >
      {{ 'RESET_FILTERS' | translate }}</a
    >

    <div class="col-md-3">
      <ng-select
        class="filter-shadow"
        [items]="optionsList"
        [multiple]="true"
        bindLabel="name"
        groupBy="option"
        [selectableGroup]="true"
        [selectableGroupAsModel]="false"
        [closeOnSelect]="true"
        placeholder="{{ 'ALL_OPTIONS' | translate }}"
        (change)="getFilterOptions($event)"
        [(ngModel)]="filter.options"
        bindValue="id"
      >
        <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
          {{ item.option | uppercase }}
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" />
          {{ item.name }}
        </ng-template>
      </ng-select>
    </div>
  </div>
  <div class="row" [ngClass]="{ loading: loading }">
    <ngx-datatable
      appNgxDatatableWatcher
      [loadingIndicator]="loading"
      #myTable
      class="bootstrap fullscreen striped default-dataTable"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="'force'"
      [headerHeight]="headerHeight"
      [footerHeight]="40"
      [rowHeight]="rowHeight"
      [scrollbarV]="true"
      (scroll)="onScroll($event)"
    >
      <ngx-datatable-footer appNgxDatatableWatcher>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
          let-isVisible="isVisible"
        >
          <div>
            <b>Showing {{ rows.length }} out of {{ totalRecords }} records</b>
          </div>

          <datatable-pager
            appNgxDatatableWatcher
            [pagerLeftArrowIcon]="'datatable-icon-left'"
            [pagerRightArrowIcon]="'datatable-icon-right'"
            [pagerPreviousIcon]="'datatable-icon-prev'"
            [pagerNextIcon]="'datatable-icon-skip'"
            [page]="curPage"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="!(rowCount / pageSize > 1)"
            (change)="table.onFooterPage($event)"
          >
          </datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>

  <ng-template #action let-row="row" ngx-datatable-cell-template>
    <div>
      <a role="buton" class="btn-link button-effect" (click)="viewDetails(row.id)">
        View Details
      </a>
    </div>
  </ng-template>

  <div
    class="modal fade popup-close"
    tabindex="-1"
    [ngClass]="{ in: visibleAnimate, 'popup-open': visible }"
    *ngIf="visible"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            {{ 'CONFIRMDELETE' | translate }}
            <button
              class="close pull-right"
              data-dismiss="modal"
              type="button"
              aria-label="Close"
              (click)="cancel()"
            >
              ×
            </button>
          </h4>
        </div>
        <div class="modal-body">
          {{ 'INSTITUTION_DELETE' | translate }}{{ objectData.name
          }}{{ 'INSTITUTION_DELETE_COMMA' | translate }}{{ objectData.totalLocation
          }}{{ 'INSTITUTION_DELETE_LOCATIONS' | translate }}{{ objectData.totalDevice
          }}{{ 'INSTITUTION_DELETE_DEVICES' | translate }}
          <div class="container"></div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-flat" (click)="cancel()">
            {{ 'CLOSE' | translate }}
          </button>
          <button class="btn btn-danger btn-flat pull-right" (click)="delete()">
            {{ 'DELETE' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #date let-row="row" ngx-datatable-cell-template>
    <ng-container>
      <span class="row-tag">{{ row.activateOn | newDate }}</span
      ><br />
      <!-- <span class="row-tag">{{ row.activateOn | newDate }}</span> -->
    </ng-container>
  </ng-template>
  <ng-template #posSafetyFlag let-row="row" ngx-datatable-cell-template>
    <ng-container>
      <nz-switch [ngModel]="row.posSafetyFlag == '0' ? false : true" [nzDisabled]="true">
      </nz-switch>
    </ng-container>
  </ng-template>
  <ng-template #expiry let-row="row" ngx-datatable-cell-template>
    <ng-container>
      <span class="row-tag">{{ row.expiryOn | newDate }}</span
      ><br />
      <!-- <span class="row-tag">{{ row.expiryOn | date: 'h:mm:ss a' }}</span> -->
    </ng-container>
  </ng-template>
  <ng-template #name let-row="row" ngx-datatable-cell-template>
    <ng-container>
      <div class="row-tag">{{ row.name }}</div>
      <!--<div class="row-tag">{{ 'CODE' | translate }}: {{ row.code }}</div>-->
      <div class="row-tag" *ngIf="row.institution">
        {{ 'INSTITUTION_GROUP' | translate }}:
        <a class="cursor" (click)="institutionInfoDetails(row)">{{ row.institution.name }}</a>
      </div>
      <a
        *ngIf="row.totalLocation && row.institution"
        class="cursor linkMargin"
        [ngClass]="{ isDisabled: row.totalLocation === 0 }"
        routerLink="/institutions/locations/filter"
        [queryParams]="{ merchantGroup: row.institution.id, merchant: row.id }"
      >
        {{ row.totalLocation }} {{ 'LOCATIONS' | translate }}
      </a>
    </ng-container>
  </ng-template>
  <ng-template #status let-row="row" ngx-datatable-cell-template>
    <ng-container>
      <div *ngIf="permissionObject.update">
        <nz-switch
          [ngModel]="row.locked == '1' ? false : true"
          (ngModelChange)="changeStatus(row)"
          [nzLoading]="statusLoading"
          [nzDisabled]="true"
        >
        </nz-switch>
      </div>
    </ng-container>
  </ng-template>
  <ng-template #services let-row="row" ngx-datatable-cell-template>
    <ng-container>
      <div *ngIf="row.merchantProfile">
        <span
          *ngIf="row.merchantProfile.services"
          data-toggle="tooltip"
          title="{{ row.merchantProfile.services }}"
          >{{ row.merchantProfile.services | slice : 0 : 30
          }}<span *ngIf="row.merchantProfile.services.length > 30">...</span></span
        >
      </div>
    </ng-container>
  </ng-template>

  <div
    class="modal fade"
    tabindex="-1"
    [ngClass]="{ in: visiblePopUpAnimate }"
    [ngStyle]="{
      display: visiblePopUp ? 'block' : 'none',
      opacity: visiblePopUpAnimate ? 1 : 1
    }"
    *ngIf="visiblePopUp"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header import-header">
          <h4 class="modal-title">{{ 'IMPORT' | translate }}</h4>
        </div>
        <div class="modal-body">
          <div>
            <p>{{ 'LOCATION_IMPORT_COMMENT1' | translate }}</p>
            <app-import-file [url]="importUrl" [importPath]="'assets/pages/import.csv'">
            </app-import-file>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-md btn-flat" (click)="cancelPopUp()">
            {{ 'CLOSE' | translate }}
          </button>
          <button class="btn btn-primary btn-md btn-flat" (click)="resetUpload()">
            {{ 'RESET' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-not-found [isVisible]="!rows?.length && !loading"></app-not-found>
<div *ngIf="isvisibleView">
  <nz-drawer
    [nzVisible]="isvisibleView"
    [nzWidth]="800"
    [nzTitle]="title"
    (nzOnClose)="close()"
    [nzMaskClosable]="false"
  >
    <ng-container *nzDrawerContent>
      <app-institution-info
        [isvisibleView]="isvisibleView"
        [idView]="idView"
        (closeDrawer)="close($event)"
        (create)="create($event)"
      ></app-institution-info>
    </ng-container>
  </nz-drawer>
</div>
