<div class="form-pannel">
  <div class="card-main">
    <ng-container>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2 text-label-right">
            <label class="required">IMF:</label>
          </div>
          <div class="col-md-3">
            <app-tree-structure
              [jsonData]="jsonData"
              [resimf]="copyResImfValue"
              [readOnlyFlag] = "readOnlyFlag"
              [useCase]="copyUseCase"
              (ImfValue)="selectImfFn($event)"
            ></app-tree-structure>
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="copyUseCase == 2 || copyUseCase == 3">
        <div class="row">
          <div class="col-md-2 text-label-right">
            <label class="required">Service:</label>
          </div>
          <div class="col-md-3">
            <ng-select
              appendTo="body"
              [clearable]="false"
              class="filter-shadow"
              [closeOnSelect]="true"
              [disabled]="(!copyResImfValue || copyUseCase === '1') || readOnlyFlag"
              [items]="serviceList"
              bindLabel="value"
              placeholder="Select Service"
              [(ngModel)]="copySelectedService"
            >
            </ng-select>
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="copyUseCase == 3">
        <div class="row">
          <div class="col-md-2 text-label-right">
            <label class="required">Type:</label>
          </div>
          <div class="col-md-3">
            <ng-select
              [clearable]="false"
              class="filter-shadow"
              [closeOnSelect]="true"
              [disabled]="(!copyResImfValue || copyUseCase === '1' || copyUseCase === '2') || readOnlyFlag"
              [items]="typeList"
              bindLabel="name"
              bindValue="value"
              placeholder="Select type"
              [(ngModel)]="copySelectedType"
            >
            </ng-select>
          </div>
        </div>
      </div>
      <ng-container>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2 text-label-right">
              <label for="Post Validation">Post Validation</label>
            </div>
            <div class="col-md-2" *ngIf="!readOnlyFlag">
              <span
                class="toto input-align rulsCss icon-border-radius btn btn-default"
                style="margin-right: 5px"
                (click)="addValidation(copyResValidation)"
              >
                <i class="fa fa-plus"></i
              ></span>
            </div>
          </div>
        </div>
        <ng-container *ngIf="copyResValidation">
          <div class="form-group" *ngFor="let valid of copyResValidation; let j = index">
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-md-3">
                <ng-select
                  [clearable]="false"
                  class="filter-shadow"
                  [closeOnSelect]="true"
                  [items]="validationList"
                  [(ngModel)]="valid['validation']"
                  bindLabel="name"
                  [disabled] = "readOnlyFlag"
                  placeholder="Select validation"
                  (change)="validationParam(valid)"
                >
                  <ng-template ng-option-tmp let-item="item">
                    <div [title]="item.parameters.tooltip" *ngIf="item.parameters">
                      {{ item.name }}
                    </div>
                    <div *ngIf="!item.parameters">{{ item.name }}</div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="row col-md-2" *ngIf="valid.operatorList && valid.operatorList.length > 0">
                <ng-select
                  [clearable]="false"
                  class="filter-shadow"
                  [disabled] = "readOnlyFlag"
                  [closeOnSelect]="true"
                  [items]="valid.operatorList"
                  [(ngModel)]="valid['operator']"
                  bindLabel="label"
                  placeholder="Select Operator"
                >
                </ng-select>
              </div>
              <div class="col-md-3" *ngFor="let param of valid.params">
                <ng-select
                  [clearable]="false"
                  class="filter-shadow form-control"
                  [closeOnSelect]="true"
                  bindValue="id"
                  [disabled] = "readOnlyFlag"
                  bindLabel="name"
                  [items]="param.list"
                  [(ngModel)]="param.value"
                  placeholder="{{ param.name }}"
                  *ngIf="param.label === 'source'"
                >
                  <ng-template ng-option-tmp let-item="item">
                    <div [title]="item.tooltip">{{ item.name }}</div>
                  </ng-template>
                </ng-select>
                <ng-select
                  [clearable]="false"
                  class="filter-shadow form-control"
                  [closeOnSelect]="true"
                  bindLabel="alias"
                  bindValue="name"
                  [items]="param.list"
                  [disabled] = "readOnlyFlag"
                  [(ngModel)]="param.value"
                  placeholder="{{ param.name }}"
                  *ngIf="param.label === 'imf'"
                >
                  <ng-template ng-option-tmp let-item="item">
                    <div [title]="item.name">{{ item.alias }}</div>
                  </ng-template>
                </ng-select>

                <input
                  class="toto input-align input-search form-control"
                  type="text"
                  [disabled] = "readOnlyFlag"
                  [(ngModel)]="param.value"
                  placeholder="{{ param.name }}"
                  *ngIf="!param.list && param.type !== 'Integer'"
                />

                <input
                  class="toto input-align input-search form-control"
                  type="number"
                  [disabled] = "readOnlyFlag"
                  [(ngModel)]="param.value"
                  placeholder="{{ param.name }}"
                  *ngIf="!param.list && param.type === 'Integer'"
                />
              </div>
              <div class="col-sm-1" *ngIf="!readOnlyFlag">
                <span
                  class="toto input-align rulsCss icon-border-radius btn btn-default"
                  *ngIf="copyResValidation.length > 0"
                  (click)="removeValidation(j)"
                >
                  <i class="fa fa-minus"></i
                ></span>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2  text-label-right">
            <label class="required">Set IPC</label>
          </div>
          <div class="col-md-3">
            <ng-select
              [clearable]="false"
              class="filter-shadow"
              [closeOnSelect]="true"
              bindLabel="value"
              bindValue="value"
              [disabled] = "readOnlyFlag"
              [items]="ipcList"
              [(ngModel)]="copyIpcValue"
              placeholder="Select IPC"
            >
            </ng-select>
          </div>
        </div>
      </div>
      <span
        *ngIf="
          copyResponseError &&
          (!copyIpcValue || !copySelectedService || !copySelectedType || !copyResImfValue)
        "
        style="color: red"
        >Please fill all mandatory fields</span
      >
    </ng-container>
    <div class="pull-right">
      <div>
        <button nz-button nzType="default" (click)="cancel()">Cancel</button>
        <button nz-button nzType="primary" style="margin-left: 10px" *ngIf="!readOnlyFlag" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>
