<div class="form-panel">
    <div class="card-main">
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label class="required">IMF:</label>
          </div>
          <div class="col-md-3">
            <app-tree-structure
              [jsonData]="jsonData"
              [resimf]="resImfValue"
              [useCase]="useCase"
              (ImfValue)="selectImfFn($event)"
            ></app-tree-structure>
          </div>
        </div>
        <div class="form-group" *ngIf="useCase != 1 && resImfValue">
          <div class="row">
            <div class="col-md-2">
              <label class="required">Raw destination:</label>
            </div>
            <div class="col-md-3">
              <input type="checkbox" [(ngModel)]="rawDestination" />
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="useCase != 1">
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label class="required">Service:</label>
            </div>
            <div class="col-md-3">
              <ng-select
                [clearable]="false"
                class="filter-shadow"
                style="width: 100%"
                [closeOnSelect]="true"
                [disabled]="!resImfValue || useCase === '1'"
                [items]="serviceList"
                bindLabel="value"
                placeholder="Select Service"
                [(ngModel)]="selectedService"
              >
              </ng-select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label class="required">Type:</label>
            </div>
            <div class="col-md-3">
              <ng-select
                [clearable]="false"
                class="filter-shadow"
                style="width: 100%"
                [closeOnSelect]="true"
                [disabled]="!resImfValue || useCase === '1' || useCase === '2'"
                [items]="typeList"
                bindLabel="name"
                bindValue="value"
                placeholder="Select type"
                [(ngModel)]="selectedType"
              >
              </ng-select>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="form-group">
        <div class="row">
          <!-- <div class="col-md-2">
            <label> Assign Value to response field:</label>
          </div> -->
          <div class="col-md-8">
            <span *ngIf="selectedService"> {{ selectedService.value }}.</span>
            <span *ngIf="resImfValue || selectedType"
              >{{ selectedType }}.{{ resImfValue }}</span
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label>Steps</label>
          </div>
          <div class="col-md-3">
            <span class="btn btn-default" (click)="addBlockStep(resBlockList)">
              <i class="fa fa-plus"></i
            ></span>
          </div>
        </div>
      </div>
      <ng-container *ngFor="let item of resBlockList; let i = index">
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">Step {{ i + 1 }}</div>
            <div class="col-md-3">
              <ng-select
                [clearable]="false"
                class="filter-shadow"
                style="width: 100%"
                [closeOnSelect]="true"
                bindLabel="actionName"
                [items]="stepList"
                [(ngModel)]="item.value"
                placeholder="Select Value"
                (change)="stepFunction(item.value, 0, i, false)"
              >
              </ng-select>
            </div>
            <div
              class="col-md-4"
              *ngIf="item.value && item.function && item.function.parameters"
            >
              <a (click)="stepFunction(item.value, 0, i, false, false)">Edit Parameter</a>
            </div>
            <div class="col-sm-1">
              <span
                class="btn btn-default"
                *ngIf="resBlockList && resBlockList.length > 0"
                (click)="removeBlockStep(i, resBlockList)"
                ><i class="fa fa-minus"></i
              ></span>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label>Evaluate</label>
            </div>
            <div class="col-md-2">
              <span class="btn btn-default" *ngIf="!resCustomMapper" (click)="addResCustomMap()"
                ><i class="fa fa-plus" ></i
              ></span>
              <span
                class="btn btn-default"
                *ngIf="resCustomMapper && resCustomMapper.mapper.length > 0"
                (click)="addResMap(resCustomMapper)"
                ><i class="fa fa-plus"></i
              ></span>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="resCustomMapper">
        <div class="form-group" *ngFor="let block of resCustomMapper.mapper; let i = index">
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-md-3">
              <nz-tree-select
                class="resevaluate-lookup form-control"
                [nzDropdownMatchSelectWidth]="true"
                [nzDropdownStyle]="{ 'max-height': '200px' }"
                [nzShowExpand]="true"
                [nzNodes]="lookupList"
                [nzShowSearch]="true"
                [nzHideUnMatched]="true"
                nzPlaceHolder="Please select"
                [(ngModel)]="block.value2"
              >
              </nz-tree-select>
            </div>
            <div class="col-sm-2">
              <input
                class="toto input-align input-search form-control"
                type="text"
                [(ngModel)]="block.value2"
              />
            </div>
            <div class="col-md-1 auto-width nopadding-r">
              <label>=</label>
            </div>
            <div class="col-md-2">
              <input
                class="toto input-align input-search form-control"
                type="text"
                [(ngModel)]="block.value1"
              />
            </div>
            <div class="col-sm-1">
              <span
                class="btn btn-default"
                (click)="removeResCustomMap()"
                *ngIf="resCustomMapper && resCustomMapper.mapper.length === 1"
              >
                <i class="fa fa-minus" ></i
              ></span>
              <span
                class="btn btn-default"
                *ngIf="resCustomMapper && resCustomMapper.mapper.length > 1"
                (click)="removemMap(resCustomMapper, i)"
                ><i class="fa fa-minus"></i
              ></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label style="margin-right: 7px">Default Value </label>
            </div>
            <div class="col-sm-3">
              <input
                class="toto input-align input-search form-control"
                type="text"
                [(ngModel)]="resCustomMapper.defaultValue"
                placeholder="Default Value"
              />
            </div>
            <div class="col-md-4">
              <label style="margin-right: 31px">Use same on match fail</label>
              <input type="checkbox" [(ngModel)]="resCustomMapper.useSameOnMatchFail" />
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="Post Validation">Post Validation</label>
            </div>
            <div class="col-md-2">
              <span class="btn btn-default" (click)="addValidation(extractResValidation)">
                <i class="fa fa-plus"></i
              ></span>
            </div>
          </div>
        </div>
        <ng-container *ngIf="extractResValidation">
          <div class="form-group" *ngFor="let valid of extractResValidation; let j = index">
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-md-3">
                <ng-select
                  [clearable]="false"
                  class="filter-shadow"
                  style="width: 100%"
                  [closeOnSelect]="true"
                  [items]="validationList"
                  [(ngModel)]="valid['validation']"
                  bindLabel="name"
                  placeholder="Select validation"
                  (change)="validationParam(valid)"
                >
                  <ng-template ng-option-tmp let-item="item">
                    <div [title]="item.parameters.tooltip" *ngIf="item.parameters">
                      {{ item.name }}
                    </div>
                    <div *ngIf="!item.parameters">{{ item.name }}</div>
                  </ng-template>
                </ng-select>
              </div>
              <div
                class="col-md-2"
                *ngIf="valid.operatorList && valid.operatorList.length > 0"
              >
                <ng-select
                  [clearable]="false"
                  class="filter-shadow"
                  style="width: 100%"
                  [closeOnSelect]="true"
                  [items]="valid.operatorList"
                  [(ngModel)]="valid['operator']"
                  bindLabel="label"
                  placeholder="Select Operator"
                >
                </ng-select>
              </div>
              <div class="col-md-3" *ngFor="let param of valid.params">
                <ng-select
                  [clearable]="false"
                  class="filter-shadow"
                  style="width: 100%"
                  [closeOnSelect]="true"
                  bindValue="id"
                  bindLabel="name"
                  [items]="param.list"
                  [(ngModel)]="param.value"
                  placeholder="{{ param.name }}"
                  *ngIf="param.label === 'source'"
                >
                  <ng-template ng-option-tmp let-item="item">
                    <div [title]="item.tooltip">{{ item.name }}</div>
                  </ng-template>
                </ng-select>
                <ng-select
                  [clearable]="false"
                  class="filter-shadow"
                  style="width: 100%"
                  [closeOnSelect]="true"
                  bindLabel="alias"
                  bindValue="name"
                  [items]="param.list"
                  [(ngModel)]="param.value"
                  placeholder="{{ param.name }}"
                  *ngIf="param.label === 'imf'"
                >
                  <ng-template ng-option-tmp let-item="item">
                    <div [title]="item.name">{{ item.alias }}</div>
                  </ng-template>
                </ng-select>
                <input
                  class="toto input-align input-search form-control"
                  type="text"
                  [(ngModel)]="param.value"
                  placeholder="{{ param.name }}"
                  *ngIf="!param.list && param.type !== 'Integer'"
                />
                <input
                  class="toto input-align input-search form-control"
                  type="number"
                  [(ngModel)]="param.value"
                  placeholder="{{ param.name }}"
                  *ngIf="!param.list && param.type === 'Integer'"
                />
              </div>

              <div class="col-sm-1">
                <span
                  class="btn btn-default"
                  *ngIf="extractResValidation.length > 0"
                  (click)="removeValidation(extractResValidation, j)"
                >
                  <i class="fa fa-minus"></i
                ></span>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label class="required">Set IPC</label>
          </div>
          <div class="col-md-3">
            <ng-select
              [clearable]="false"
              class="filter-shadow"
              style="width: 100%"
              [closeOnSelect]="true"
              bindLabel="value"
              bindValue="value"
              [items]="ipcList"
              [(ngModel)]="ipcValue"
              placeholder="Select IPC"
            >
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span
    *ngIf="responseError && (!ipcValue || !selectedService || !selectedType || !resImfValue)"
    style="color: red"
    >Please fill all mandatory fields</span
  >
  <div
    class="row row-margin row-align row-template pull-right"
    *ngIf="resRadioModel === 'operationField'"
  >
    <div class="col-sm-12">
      <button nz-button nzType="default" (click)="oncancel()">Cancel</button>
      <button
        nz-button
        nzType="primary"
        [disabled]="!field"
        style="margin-left: 10px"
        (click)="save()"
      >
        Save
      </button>
    </div>
  </div>