<div class="col-md-12 fade-in template">
  <!-- <rv-tabs>
    <rv-tab header="{{ 'NOTIFICATION' | translate }}"> -->
  <div class="row">
    <div class="defaultDataTable">
      <ngx-datatable
        appNgxDatatableWatcher
        [loadingIndicator]="loading"
        #myTable
        class="bootstrap fullscreen striped"
        [rows]="rows"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="headerHeight"
        [footerHeight]="40"
        [rowHeight]="rowHeight"
        [scrollbarV]="true"
        (scroll)="onScroll($event)"
      >
        <ngx-datatable-footer appNgxDatatableWatcher>
          <ng-template
            ngx-datatable-footer-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
            let-isVisible="isVisible"
          >
            <div>
              <b>Showing {{ rows.length }} out of {{ totalRecords }} records</b>
            </div>
            <datatable-pager
              appNgxDatatableWatcher
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
              [page]="curPage"
              [size]="pageSize"
              [count]="rowCount"
              [hidden]="!(rowCount / pageSize > 1)"
              (change)="table.onFooterPage($event)"
            >
            </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>

    <ng-template #date let-row="row" ngx-datatable-cell-template>
      <ng-container>
        <span class="row-tag">{{ row.createdOn | newDate }}</span
        ><br />
        <span class="row-tag">{{ row.createdOn | newDate }}</span>
      </ng-container>
    </ng-template>
    <ng-template #operationType let-row="row" ngx-datatable-cell-template>
      <ng-container>
        <span>{{ row.entityId ? 'UPDATE' : 'CREATE' }}</span>
      </ng-container>
    </ng-template>
    <ng-template #details let-row="row" ngx-datatable-cell-template>
      <ng-container>
        <div>
          <a class="cursor btn-link button-effect" (click)="viewdetails(row)">{{
            'VIEWDETAILS' | translate
          }}</a>
        </div>
        <br />
      </ng-container>
    </ng-template>
  </div>
  <!-- </rv-tab> -->
  <!-- <rv-tab header="{{ 'ALERT' | translate }}">
      <div class="row">
        <div class="defaultDataTable">
          <ngx-datatable
        appNgxDatatableWatcher
            style="height: 78vh;"
            [loadingIndicator]="loading"
            class="bootstrap fullscreen striped"
            [rows]="rowAlert"
            [columns]="columnAlerts"
            [columnMode]="'force'"
            [headerHeight]="headerHeight"
            [footerHeight]="40"
            [rowHeight]="rowHeight"
            [scrollbarV]="true"
            (scroll)="onScrollAlert($event)"
          >
          </ngx-datatable>
        </div>
      </div>
    </rv-tab> -->
  <!-- </rv-tabs> -->
</div>

<ng-template #comment let-row="row" ngx-datatable-cell-template>
  <ng-container>
    <span
      *ngIf="row.comment && row.comment.length < 12"
      data-toggle="tooltip"
      title="{{ row.comment }}"
      >{{ row.comment | slice: 0:12 }}</span
    >
    <span
      *ngIf="row.comment && row.comment.length >= 12"
      data-toggle="tooltip"
      title="{{ row.comment }}"
      >{{ row.comment | slice: 0:12 }}...</span
    >
  </ng-container>
</ng-template>
<app-not-found [isVisible]="!rows?.length && !loading"></app-not-found>