<nz-spin [nzSpinning]="loading" nzTip="Loading...">
<div class="col-md-12 fade-in template">
  <div class="row row-margin">
    <div class="pull-right row button-margin">
      <button class="btn btn-primary btn-md btn-flat" routerLink="create">
        <em class="fa fa-plus-circle"></em> {{ 'Create Core Properties' }}
      </button>
    </div>
  </div>

  <div class="row" [ngClass]="{ loading: loading }">
    <div>
      <ngx-datatable
        appNgxDatatableWatcher
        #myTable
        [loadingIndicator]="loading"
        class="bootstrap fullscreen striped datatable-body"
        [rows]="coreProperties"
        [columns]="columns"
        columnMode="force"
        [footerHeight]="36"
        [rowHeight]="rowHeight"
        [headerHeight]="headerHeight"
        [scrollbarV]="true"
        (scroll)="onScroll($event)"
      >
        <ngx-datatable-footer appNgxDatatableWatcher>
          <ng-template
            ngx-datatable-footer-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
            let-isVisible="isVisible"
          >
            <div>
              <strong>Showing {{ coreProperties.length }} out of {{ totalRecords }} records</strong>
            </div>
            <datatable-pager
              appNgxDatatableWatcher
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
              [page]="curPage"
              [size]="pageSize"
              [count]="rowCount"
              [hidden]="!(rowCount / pageSize > 1)"
              (change)="table.onFooterPage($event)"
            >
            </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>

  <ng-template #name let-row="row" ngx-datatable-cell-template>
    <span class="row-tag">{{ row.name }}</span>
  </ng-template>

  <ng-template #type let-row="row" ngx-datatable-cell-template>
    <span class="row-tag">{{ row.type }}</span>
  </ng-template>

  <ng-template #subType let-row="row" ngx-datatable-cell-template>
    <span class="row-tag">{{ row.subType }}</span>
  </ng-template>

  <ng-template #version let-row="row" ngx-datatable-cell-template>
    <div class="filteroverlapTemplate">
      <ng-select
        class="filter-shadow select-gap"
        (change)="changeRow($event, row)"
        [ngModel]="row.version"
        appendTo="body"
        bindLabel="version"
        [closeOnSelect]="true"
        [items]="row.corePropertiesDetails"
        [clearable]="false"
      >
      </ng-select>
    </div>
  </ng-template>

  <ng-template #action let-row="row" ngx-datatable-cell-template>
    <a class="btn-link button-effect" role="button" [matMenuTriggerFor]="belowMenu">Actions</a>
    <mat-menu #belowMenu="matMenu">
      <button mat-menu-item (click)="editCoreProperties(row)">
        <i class="fa fa-pencil-square-o fa-sm" aria-hidden="true" style="color: #3c8dbc"></i>
        <span style="color: #3c8dbc; margin-left: 10px">Edit</span>
      </button>
	  <mat-divider></mat-divider>

	  <button
	    mat-menu-item
	    (click)="downloadCoreProperties(row)"
	    *ngIf="permissionObject.read"
	  >
	    <i class="fa fa-download" style="color: #3c8dbc"></i>
	    <span style="margin-left: 10px">Download</span>
	  </button>

      <mat-divider *ngIf="row.version == 0"></mat-divider>
      <ng-container *ngIf="row.version == 0">
        <button
          mat-menu-item
          nzDanger
          nz-popconfirm
          style="color: red"
          nzPopconfirmTitle="Are you sure to delete this record?"
          nzPopconfirmPlacement="bottom"
          [nzIcon]="iconTpl"
          (nzOnConfirm)="deleteCoreProperties(row)"
        >
          <i class="fa fa-trash fa-sm" aria-hidden="true" style="color: #f46771"></i>
          <span class="delete-color" style="margin-left: 10px">Delete</span>
        </button>
      </ng-container>
    </mat-menu>
  </ng-template>
</div>
</nz-spin>
