<ng-container *ngIf="conditionObj.conditions">
  <div *ngFor="let nodes of conditionObj.conditions; let i = index" style="position: relative">
    <div
      [ngClass]="[conditionObj.conditions.length === 1 ? 'withNotClass' : 'withoutNotClass']"
      *ngIf="i === 0"
    >
      <div style="text-align: enableProdModenter; font-size: 14px">
        <nz-radio-group [(ngModel)]="conditionObj.type">
          <label nz-radio-button nzValue="and"><span>And</span></label>
          <label nz-radio-button nzValue="or"><span>Or</span></label>
          <label nz-radio-button nzValue="not" *ngIf="conditionObj.conditions.length === 1"
            ><span>Not</span></label
          >
        </nz-radio-group>
      </div>
    </div>
    <div class="fileds">
      <div class="group">
        <div class="groupChild_rule" *ngIf="!nodes.conditions">
          <div id="{{ nodes.id }}" style="display: none">
            {{ 'ENTER_REQUIRED' | translate }}
          </div>
          <div class="field">
            <ng-select
              class="custom"
              style="flex-basis: 325px"
              appendTo="body"
              [clearable]="false"
              [items]="ruleData"
              [(ngModel)]="ContextfieldName[nodes.id]"
              bindLabel="label"
              placeholder="Select IMF*"
              (change)="changeFieldData($event, nodes, 'imf')"
            >
            </ng-select>
            <br />
            <span class="error" *ngIf="Error[nodes.id] && Error[nodes.id].field"
              >Please select IMF.</span
            >
          </div>
          <div class="field" *ngIf="fieldName[nodes.id] && fieldName[nodes.id].useCase !== '1'">
            <ng-select
              class="custom"
              appendTo="body"
              [clearable]="false"
              [items]="jsonData.service"
              [(ngModel)]="selectedService[nodes.id]"
              placeholder="Select Service*"
              (change)="changeFieldData($event, nodes, 'service')"
            >
            </ng-select>
            <span class="error" *ngIf="Error[nodes.id] && Error[nodes.id].service"
              >Please select service.</span
            >
          </div>
          <div
            class="field"
            *ngIf="
              fieldName[nodes.id] &&
              (!fieldName[nodes.id].useCase || fieldName[nodes.id].useCase === '3')
            "
          >
            <ng-select
              class="custom"
              appendTo="body"
              [clearable]="false"
              [items]="typeList"
              [(ngModel)]="selectedType[nodes.id]"
              bindLabel="name"
              bindValue="name"
              placeholder="Select Type*"
              (change)="changeFieldData($event, nodes, 'type')"
            >
            </ng-select>
            <span class="error" *ngIf="Error[nodes.id] && Error[nodes.id].type"
              >Please select type.</span
            >
          </div>
          <div class="field">
            <ng-select
              class="custom"
              style="flex-basis: 325px"
              appendTo="body"
              [clearable]="false"
              [items]="fieldName[nodes.id] ? fieldName[nodes.id].operator : []"
              [(ngModel)]="selectedOperator[nodes.id]"
              (change)="changeFieldData($event, nodes, 'operator')"
              bindLabel="text"
              placeholder="{{ 'SELECT_OPERATOR' | translate }}*"
            >
            </ng-select>
            <span class="error" *ngIf="Error[nodes.id] && Error[nodes.id].operator"
              >Please select operator.</span
            >
          </div>
          <div
            class="field"
            *ngIf="
              fieldName[nodes.id] &&
              fieldName[nodes.id].data &&
              fieldName[nodes.id].data.length > 0 &&
              selectedOperator[nodes.id]
            "
          >
            <ng-select
              [clearable]="false"
              style="flex-basis: 325px"
              appendTo="body"
              [items]="fieldName[nodes.id].data"
              [(ngModel)]="selectedValue[nodes.id]"
              bindLabel="text"
              bindValue="value"
              [multiple]="multiple[nodes.id]"
              placeholder="{{ 'SELECT_FIELDS' | translate }}*"
              (change)="changeFieldData(selectedValue[nodes.id], nodes, 'value')"
            >
            </ng-select>
            <span class="error" *ngIf="Error[nodes.id] && Error[nodes.id].value"
              >Please select value.</span
            >
          </div>
          <div
            class="imputText field"
            *ngIf="
              (fieldName[nodes.id] &&
                (!fieldName[nodes.id].data ||
                  (fieldName[nodes.id].data && fieldName[nodes.id].data.length === 0))) ||
              !fieldName[nodes.id] ||
              !selectedOperator[nodes.id]
            "
          >
            <input
              [ngClass]="[
                Error[nodes.id] && Error[nodes.id].value
                  ? 'conditionError form-control'
                  : 'form-control'
              ]"
              [(ngModel)]="selectedValue[nodes.id]"
              (change)="changeFieldData(selectedValue[nodes.id], nodes, 'textvalue')"
              style="width: 100%"
              type="text"
              maxlength="40"
              placeholder="Enter Value*"
              [disabled]="!selectedOperator[nodes.id]"
            />
            <span
              class="error"
              *ngIf="Error[nodes.id] && (Error[nodes.id].specialChar || Error[nodes.id].value)"
              >Please enter valid data.</span
            >
          </div>
        </div>
        <div class="groupAction field">
          <!-- <a
            *ngIf="!nodes.group"
            class="btn-link button-effect"
            role="button"
            [matMenuTriggerFor]="belowMenu"
            >{{ 'ACTIONS' | translate }}</a
          >
          <mat-menu #belowMenu="matMenu">
            <ng-container class="creategroup">
              <button mat-menu-item (click)="createGroup(nodes, i)">
                {{ 'CREATE_GROUP' | translate }}
              </button></ng-container
            >
            <ng-container *ngIf="!conditionObj.group || conditionObj.conditions.length > 1">
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="delete(nodes.id)">
                <i class="fa fa-trash fa-sm" aria-hidden="true" style="color: #f46771"></i>
                <span class="delete-color" style="margin-left: 10px">{{
                  'DELETE' | translate
                }}</span>
              </button></ng-container
            >
          </mat-menu> -->
          <div class="dropdown">
            <a class="dropbtn" *ngIf="!nodes.group">{{ 'ACTIONS' | translate }}</a>
            <div class="dropdown-content">
              <a (click)="createGroup(nodes, i)" class="creategroup">
                {{ 'CREATE_GROUP' | translate }}</a
              >
              <a
                (click)="delete(nodes.id)"
                *ngIf="!conditionObj.group || conditionObj.conditions.length > 1"
              >
                <i class="fa fa-trash fa-sm" aria-hidden="true" style="color: #f46771"></i>
                <span class="delete-color" style="margin-left: 10px">{{
                  'DELETE' | translate
                }}</span>
              </a>
            </div>
          </div>
        </div>
        <div style="clear: both"></div>
        <div
          *ngIf="nodes['conditions'] && nodes['conditions'].length > 0"
          [ngClass]="{ groupheader: 'true' }"
          (click)="delete(nodes.id, i)"
        >
          <span class="deleteicon"><i class="fa fa-trash" aria-hidden="true"></i> </span>
        </div>
        <div
          *ngIf="nodes['conditions'] && nodes['conditions'].length > 0"
          [ngClass]="{ grouporder: 'true' }"
        >
          <span style="width: 100%">
            <app-reversal-condition-builder
              [conditionObj]="nodes"
              [ShowSave]="false"
              [Error]="Error"
              [jsonData]="jsonData"
            >
            </app-reversal-condition-builder>
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<a class="fonsize required" (click)="addSingleConditon()" style="margin-left: 5px">
  <i class="fa fa-plus-square" aria-hidden="true"></i>
  {{ 'ADD_CONDITION' | translate }}</a
>
<button
  nz-button
  nzType="primary"
  class="saveConditionCss"
  *ngIf="ShowSave && conditionObj.conditions && conditionObj.conditions.length > 0"
  (click)="saveConditon()"
>
  {{ btnText }}
</button>
