.table th {
  color: white;
  font-weight: 600;
}

.table td {
  vertical-align: middle;
}

.card-header {
  font-size: 16px;
  font-weight: 500;
}

.card {
  padding: 0px !important;
}

.lead {
    margin-bottom: 1px !important;
    line-height: 1.1 !important;
}