<div class="portal-search">
  <div class="form-inline">
    <input
      class="toto form-control input-search"
      type="text"
      placeholder="{{ 'USER_SEARCH' | translate }}"
      (keyup.enter)="getFilterNameData($event)"
      [(ngModel)]="place"
    />
    <button
      type="submit"
      [disabled]="searchResetButton"
      class="btn btn-primary btn-md btn-flat top-icon"
      (click)="resetSearch()"
    >
      {{ 'RESET' | translate }}
    </button>
  </div>
</div>
<div class="col-md-12 fade-in template">
  <div class="row row-margin">
    <div class="row col-md-2" style="margin-right: 5px">
      <ng-select
        class="filter-shadow"
        bindValue="id"
        bindLabel="name"
        [closeOnSelect]="true"
        [items]="statusList"
        placeholder="{{ 'ALL_STATUS' | translate }}"
        (change)="getFilterStatusData($event)"
      >
      </ng-select>
    </div>
    <!-- <div class="row col-md-2" style="margin-right: 5px;">
      <ng-select
        class="filter-shadow"
        bindValue="id"
        bindLabel="name"
        [closeOnSelect]="true"
        [items]="roleList"
        (change)="getFilterRole($event)"
        placeholder="{{ 'ALL_ROLES' | translate }}"
      ></ng-select>
    </div> -->
    <!-- <div class="row pull-right button-margin">
      <button class="btn btn-primary btn-md btn-flat" routerLink="create">
        <i class="fa fa-plus-circle"></i>
        {{ "CREATE_USER" | translate }}
      </button>
    </div> -->
  </div>

  <div class="row" [ngClass]="{ loading: loading }">
    <div class="default-dataTable">
      <ngx-datatable
        #myTable
        appNgxDatatableWatcher
        class="bootstrap fullscreen striped dataTable-height"
        [loadingIndicator]="loading"
        [rows]="rows"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="dimensions.headerHeight"
        [footerHeight]="dimensions.footerHeight"
        [rowHeight]="dimensions.rowHeight"
        [scrollbarV]="true"
        [scrollbarH]="true"
      >
        <ngx-datatable-footer appNgxDatatableWatcher>
          <ng-template
            ngx-datatable-footer-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
            let-isVisible="isVisible"
          >
            <div>
              <b>Showing {{ rows.length }} out of {{ totalRecords }} records</b>
            </div>

            <datatable-pager
              appNgxDatatableWatcher
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
              [page]="curPage"
              [size]="pageSize"
              [count]="rowCount"
              [hidden]="!(rowCount / pageSize > 1)"
              (change)="table.onFooterPage($event)"
            >
            </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </div>

  <ng-template #status let-row="row" ngx-datatable-cell-template>
    <ng-container>
      <label class="row-tag" *ngIf="row.locked === true"
        ><span class="badge badge-danger badges failure-badges">{{
          'INACTIVE' | translate
        }}</span></label
      >
      <label class="row-tag" *ngIf="row.locked === false"
        ><span class="badge badge-success badges success-badges">{{
          'ACTIVE' | translate
        }}</span></label
      >
      <!-- <nz-switch [ngModel]= '!row.locked'
      (ngModelChange) = "changeStatus(row)">
      </nz-switch> -->
    </ng-container>
  </ng-template>

  <ng-template #email let-row="row" ngx-datatable-cell-template>
    <ng-container>
      <div>
        <label>{{ 'EMAIL' | translate }}</label
        >: <a href="mailto:{{ row.email }}">{{ row.email }}</a>
      </div>
      <!-- <label>{{ "PHONE" | translate }}</label
      >: {{ row.mobileNum }} -->
    </ng-container>
  </ng-template>

  <!-- <ng-template #action let-row="row" ngx-datatable-cell-template>
    <div>
      <a
        *ngIf="permission.update"
        (click)="getRowData(row)"
        class="btn-link button-effect"
        role="button"
        >{{ "EDIT" | translate }}
      </a>
    </div>
    <div>
      <a
        *ngIf="permission.update"
        class="btn-link button-effect"
        role="button"
        (click)="changeStatus(row)"
        >{{ row.locked ? ("ENABLE" | translate) : ("DISABLE" | translate) }}</a
      >
    </div>

    <div>
      <a
        (click)="deleteRow(row)"
        *ngIf="row.roleId !== 1 && permission.check && permission.delete"
        class="btn-link button-effect delete-color"
        role="button"
        >{{ "DELETE" | translate }}</a
      >
    </div>
  </ng-template> -->

  <div
    class="modal fade"
    tabindex="-1"
    [ngClass]="{ in: visibleAnimate }"
    [ngStyle]="{
      display: visible ? 'block' : 'none',
      opacity: visibleAnimate ? 1 : 1
    }"
    *ngIf="visible"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            {{ 'CONFIRMDELETE' | translate }}
            <button
              class="close pull-right"
              data-dismiss="modal"
              type="button"
              aria-label="Close"
              (click)="cancel()"
            >
              ×
            </button>
          </h4>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <tr>
              <td>{{ 'DELETE_CONFIRM' | translate }} {{ objectData }} ?</td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button class="btn btn-flat" (click)="cancel()">
            {{ 'CLOSE' | translate }}
          </button>
          <button class="btn btn-danger btn-flat pull-right" (click)="delete()">
            {{ 'DELETE' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
