<div class="fade-in template">
  <div>
    <a class="btn" routerLink="/processor-config/merchant-code-mapping"
      ><i class="fa fa-arrow-circle-o-left fa-sm"></i> {{ 'BACK' | translate }}</a
    >
  </div>
  <div class="col-md-12">
    <nz-spin nzTip="Loading..." [nzSpinning]="isSpinning">
      <div class="col-md-6">
        <div class="form-group">
          <label
            class="required"
            tooltip="{{ 'MID_LABEL.ACQUIRER_PROCESSOR' | translate }}"
            placement="right"
            delay="500"
            >{{ 'ACQUIRER_PROCESSOR' | translate }}</label
          >
          <ng-select
            bindLabel="name"
            [clearable]="false"
            [closeOnSelect]="true"
            [items]="processorNameList"
            placeholder="{{ 'ACQUIRER_PROCESSOR' | translate }}"
            [disabled]="allDisabled"
            [disabled]="allDisabled"
            [(ngModel)]="currentItem.processorId"
            (change)="addErrorClass(currentItem.processorId, 'processorId')"
          >
          </ng-select>
          <app-field-error-display
            [displayError]="errorClass.processorId"
            errorMsg="{{ 'VALIDATION_PROCESSOR_ID' | translate }}"
          >
          </app-field-error-display>
        </div>
        <div class="form-group">
          <label
            class="required"
            tooltip="{{ 'MID_LABEL.MAPPING' | translate }}"
            placement="right"
            delay="500"
            >{{ 'MID_LABEL.MAPPING' | translate }}</label
          >
          <ng-select
            bindLabel="name"
            bindValue="id"
            [clearable]="false"
            [closeOnSelect]="true"
            [items]="mappingList"
            placeholder="{{ 'MID_LABEL.MAPPING' | translate }}"
            [disabled]="allDisabled"
            [(ngModel)]="mappingId"
            (change)="changeMapp(); addErrorClass(mappingId, 'mappingId')"
          >
          </ng-select>
          <app-field-error-display
            [displayError]="errorClass.mappingId"
            errorMsg="Mapping Id is required"
          >
          </app-field-error-display>
        </div>
        <div class="form-group" *ngIf="mappingId && mappingId !== 'acquirer'">
          <label
            class="required"
            tooltip="{{ 'MID_LABEL.INSTITUTION_GROUP' | translate }}"
            placement="right"
            delay="500"
            >{{ 'INSTITUTION_GROUP' | translate }}</label
          >
          <ng-select
            bindLabel="name"
            (change)="onMerchantGroupChange($event)"
            [disabled]="allDisabled"
            [(ngModel)]="MerchantGroupId"
            [clearable]="false"
            [closeOnSelect]="true"
            [items]="MerchantGroup"
            placeholder="{{ 'INSTITUTION_GROUP' | translate }}"
            (change)="addErrorClass(MerchantGroupId, 'institution')"
          >
          </ng-select>
          <app-field-error-display
            [displayError]="errorClass.institution"
            errorMsg="Mapping Group is required"
          >
          </app-field-error-display>
        </div>
        <div class="form-group" *ngIf="mappingId === 'device' || mappingId === 'location'">
          <label
            class="required"
            tooltip="{{ 'MID_LABEL.INSTITUTION' | translate }}"
            placement="right"
            delay="500"
            >{{ 'MID_LABEL.INSTITUTION' | translate }}</label
          >
          <ng-select
            bindLabel="name"
            [closeOnSelect]="true"
            [items]="merchantList"
            [clearable]="false"
            placeholder="{{ 'MID_LABEL.SELECT_INSTITUTION' | translate }}"
            [disabled]="allDisabled"
            [(ngModel)]="currentItem.sourceMerchantId"
            (change)="getLocation($event); addErrorClass(currentItem.sourceMerchantId, 'merchant')"
          >
          </ng-select>
          <app-field-error-display
            [displayError]="errorClass.merchant"
            errorMsg="{{ 'VALIDATION_MERCHANTCODE' | translate }}"
          >
          </app-field-error-display>
        </div>
        <div class="form-group" *ngIf="mappingId === 'device'">
          <label
            class="required"
            tooltip="{{ 'MID_LABEL.LOCATION' | translate }}"
            placement="right"
            delay="500"
            >{{ 'MID_LABEL.LOCATION' | translate }}
          </label>
          <ng-select
            bindLabel="name"
            [closeOnSelect]="true"
            [items]="locationList"
            [clearable]="false"
            placeholder="{{ 'MID_LABEL.SELECT_LOCATION' | translate }}"
            [disabled]="allDisabled"
            [(ngModel)]="currentItem.sourceLocationId"
            (change)="getDevice($event); addErrorClass(currentItem.sourceLocationId, 'location')"
          >
          </ng-select>
          <app-field-error-display
            [displayError]="errorClass.location"
            errorMsg="Source Merchant Store is required"
          >
          </app-field-error-display>
        </div>
      </div>

      <!-- Merchant -->
      <div class="col-md-12 marginLeft" *ngIf="mappingId === 'merchant'">
        <div class="col-md-5">
          <label
            class="required"
            tooltip="{{ 'MID_LABEL.INSTITUTION' | translate }}"
            placement="right"
            delay="500"
            >{{ 'MID_LABEL.SELECT_INSTITUTION' | translate }}</label
          >
          <ng-select
            bindLabel="name"
            [closeOnSelect]="true"
            [items]="merchantList"
            [clearable]="false"
            placeholder="{{ 'MID_LABEL.SELECT_INSTITUTION' | translate }}"
            [disabled]="allDisabled"
            [(ngModel)]="currentItem.sourceMerchantId"
            (change)="getLocation($event); addErrorClass(currentItem.sourceMerchantId, 'merchant')"
          >
          </ng-select>
          <app-field-error-display
            [displayError]="errorClass.merchant"
            errorMsg="{{ 'VALIDATION_MERCHANTCODE' | translate }}"
          >
          </app-field-error-display>
        </div>
        <div class="col-md-2 separation">:</div>
        <div class="col-md-5">
          <label
            class="required"
            tooltip="{{ 'MID_LABEL.DESTINATION_MERCHANT' | translate }}"
            placement="right"
            delay="500"
            >{{ 'MID_LABEL.DESTINATION_MERCHANT' | translate }}</label
          >
          <input
            type="text"
            class="form-control textbox-border"
            maxlength="16"
            placeholder="{{ 'MID_LABEL.DESTINATION_MERCHANT' | translate }}"
            [(ngModel)]="currentItem.destinationMerchant"
            (change)="addErrorClass(currentItem.destinationMerchant, 'merchantText')"
          />
          <app-field-error-display
            [displayError]="errorClass.merchantText"
            errorMsg="{{ 'MERCHANT_CODE_VALIDATION_PROCESSOR' | translate }}"
          >
          </app-field-error-display>
        </div>
      </div>

      <!-- LOcation -->
      <div class="col-md-12 marginLeft" *ngIf="mappingId === 'location'">
        <div class="col-md-5">
          <label
            class="required"
            tooltip="{{ 'MID_LABEL.LOCATION' | translate }}"
            placement="right"
            delay="500"
            >{{ 'MID_LABEL.LOCATION' | translate }}
          </label>
          <ng-select
            bindLabel="name"
            [closeOnSelect]="true"
            [items]="locationList"
            [clearable]="false"
            placeholder="Select Location"
            [disabled]="allDisabled"
            [(ngModel)]="currentItem.sourceLocationId"
            (change)="getDevice($event); addErrorClass(currentItem.sourceLocationId, 'location')"
          >
            <ng-template ng-label-tmp ng-option-tmp let-item="item">
              {{ item.name }} ({{ item.code }})
            </ng-template>
          </ng-select>

          <app-field-error-display
            [displayError]="errorClass.location"
            errorMsg="Source Merchant Store is required"
          >
          </app-field-error-display>
        </div>
        <div class="col-md-2 separation">:</div>
        <div class="col-md-5">
          <label
            class="required"
            tooltip="{{ 'MID_LABEL.DESTINATION_LOCATION' | translate }}"
            placement="right"
            delay="500"
            >{{ 'MID_LABEL.DESTINATION_LOCATION' | translate }}</label
          >
          <input
            type="text"
            class="form-control textbox-border"
            maxlength="16"
            placeholder="{{ 'MID_LABEL.DESTINATION_LOCATION' | translate }}"
            [(ngModel)]="currentItem.destinationLocation"
            (change)="addErrorClass(currentItem.destinationLocation, 'locationText')"
          />
          <app-field-error-display
            [displayError]="errorClass.locationText"
            errorMsg="Destination Merchant Store is required"
          >
          </app-field-error-display>
        </div>
      </div>

      <!-- Device -->
      <div class="col-md-12 marginLeft" *ngIf="mappingId === 'device'">
        <div class="col-md-5">
          <label
            class="required"
            tooltip="{{ 'MID_LABEL.DEVICE' | translate }}"
            placement="right"
            delay="500"
            >{{ 'MID_LABEL.DEVICE' | translate }}</label
          >
          <ng-select
            bindLabel="code"
            [closeOnSelect]="true"
            [items]="deviceList"
            [clearable]="false"
            placeholder="{{ 'MID_LABEL.SELECT_DEVICE' | translate }}"
            [disabled]="allDisabled"
            [(ngModel)]="currentItem.sourceDeviceId"
            (change)="addErrorClass(currentItem.sourceDeviceId, 'device')"
          >
          </ng-select>
          <app-field-error-display
            [displayError]="errorClass.device"
            errorMsg="Source Terminal ID is required"
          >
          </app-field-error-display>
        </div>
        <div class="col-md-2 separation">:</div>
        <div class="col-md-5">
          <label
            class="required"
            tooltip="{{ 'MID_LABEL.DESTINATION_DEVICE' | translate }}"
            placement="right"
            delay="500"
            >{{ 'MID_LABEL.DESTINATION_DEVICE' | translate }}</label
          >
          <input
            type="text"
            class="form-control textbox-border"
            maxlength="16"
            placeholder="{{ 'MID_LABEL.DESTINATION_DEVICE' | translate }}"
            [(ngModel)]="currentItem.destinationDevice"
            (change)="addErrorClass(currentItem.destinationDevice, 'deviceText')"
          />
          <app-field-error-display
            [displayError]="errorClass.deviceText"
            errorMsg="Destination Terminal ID is required"
          >
          </app-field-error-display>
        </div>
      </div>

      <!-- Acquirer -->
      <div class="col-md-12 marginLeft" *ngIf="mappingId === 'acquirer'">
        <div class="col-md-5">
          <label
            class="required"
            tooltip="{{ 'MID_LABEL.SOURCE_ACQUIRER' | translate }}"
            placement="right"
            delay="500"
            >{{ 'MID_LABEL.SOURCE_ACQUIRER' | translate }}</label
          >
          <ng-select
            bindLabel="code"
            [clearable]="false"
            [closeOnSelect]="true"
            [items]="acquirerList"
            placeholder="{{ 'MID_LABEL.SELECT_ACQUIRER' | translate }}"
            [disabled]="allDisabled"
            [(ngModel)]="currentItem.sourceAcquirerId"
            (change)="addErrorClass(currentItem.sourceAcquirerId, 'acquirer')"
          >
          </ng-select>
          <app-field-error-display
            [displayError]="errorClass.acquirer"
            errorMsg="Source Acquirer is required"
          >
          </app-field-error-display>
        </div>
        <div class="col-md-2 separation">:</div>
        <div class="col-md-5">
          <label
            class="required"
            tooltip="{{ 'MID_LABEL.DESTINATION_ACQUIRER' | translate }}"
            placement="right"
            delay="500"
            >{{ 'MID_LABEL.DESTINATION_ACQUIRER' | translate }}</label
          >
          <input
            type="text"
            class="form-control textbox-border"
            maxlength="16"
            placeholder="{{ 'MID_LABEL.DESTINATION_ACQUIRER' | translate }}"
            [(ngModel)]="currentItem.destinationAcquirer"
            (change)="addErrorClass(currentItem.destinationAcquirer, 'acquirerText')"
          />

          <app-field-error-display
            [displayError]="errorClass.acquirerText"
            errorMsg="Destination Acquirer is required"
          >
          </app-field-error-display>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-check-input">
          <label>{{ 'STATUS' | translate }}</label
          ><br />
          <div>
            <label class="check_box_container">
              {{ currentItem.active ? ('ENABLED' | translate) : ('DISABLED' | translate) }}
              <input
                [ngModel]="currentItem.active"
                (change)="checkStatus()"
                type="checkbox"
                checked
              />
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <button class="btn pull-left" routerLink="/processor-config/merchant-code-mapping" type="button">
          {{ 'CANCEL' | translate }}
        </button>

        <button
          class="btn btn-flat btn-primary pull-left"
          type="submit"
          [disabled]="submitted"
          (click)="onSubmit()"
        >
          {{ 'SUBMIT' | translate }}
        </button>
      </div>
    </nz-spin>
  </div>
</div>
