.text_box_styling {
    margin-left: 28px;
}

.check_box_styling {
    margin-top: 12px;
}

input.ng-touched.ng-invalid {
    border: 1px solid #ff0000;
  }
  ::ng-deep .ng-select.ng-invalid.ng-touched > .ng-select-container {
    border: 1px solid #ff0000;
  }
  
  .required {
  
    &:after {
      position: relative;
      display: inline-block;
      font-size: 16px;
      line-height: 1.25;
      color: #f46771;
      content: '*';
    }
  }
.count-margin{
  margin-left: 20px;
}
